.redirect {
  display: flex;
  align-items: center;
}

.redirect span {
  display: flex;
}

.redirect-info span {
  color: darkgreen;
  font-weight: bold;
}

.imported {
  padding: 4px;
  border-radius: 4px;
  border: 2px solid darkgreen;
}

.redirect-header {
  display: flex;
}

.redirect input {
  margin-right: 5px;
  width: 400px;
}

.redirect-wrapper form {
  margin-top: 20px;
}

.to {
  margin-left: 360px;
}

.remove {
  cursor: pointer;
}

.file-upload-wrapper > label {
  display: block;
}

.file-upload-wrapper {
  margin-left: 20px;
  display: inline-block;
}

button {
  cursor: pointer;
}

.form-header {
  display: flex;
}

.form-header > input {
  height: 30px;
  margin: 12px;
  cursor: pointer;
}

#redirectList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
